#io-ox-ad-portal:not(:empty) {
    height: 285px;
    padding-top: 10px;

    div { display: inline; }
}

#io-ox-ad-mail-detail {
    height: 130px;

    div { display: inline; }
}

.thread-view-control.show-ad .thread-view-list {
    top: 130px;
}

#io-ox-ad-drive-folder {
    height: 300px;
}

#div-gpt-ad-1461237922774-4 {
    display: inline;
}

@media all and (min-width: 1120px) {
    #io-ox-ad-skyscraper {
        width: 300px;
    }
    #io-ox-windowmanager.show-ad {
        right: 300px;
    }
}