#io-ox-ad-portal:not(:empty) {
    height: 285px;
    padding-top: 10px;

    div { display: inline; }
}

html.smartphone {
    #io-ox-core.show-ad {
        #io-ox-topbar {
            top: 75px;
        }
        .content-v-shift .window-content.io-ox-portal {
            padding-top: 115px;
        }
        #io-ox-ad-banner {
            background: @background;
            position: fixed;
            height: 75px;
            z-index: 15;
        }
    }
}

#io-ox-core.show-ad {
    #io-ox-topbar {
        top: 90px;
    }
    #io-ox-screens {
        top: 130px;
    }
}

#io-ox-ad-mail-detail {
    height: 130px;

    div { display: inline; }
}

.thread-view-control.show-ad .thread-view-list {
    top: 130px;
}

#io-ox-ad-drive-folder {
    height: 300px;
}

#div-gpt-ad-1461237922774-4 {
    display: inline;
}

@media all and (min-width: 1120px) {
    #io-ox-ad-skyscraper {
        width: 300px;
    }
    #io-ox-windowmanager.show-ad {
        right: 300px;
    }
}